extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id bibendum enim. Duis lobortis faucibus lacus, ut facilisis ipsum facilisis eget. Pellentesque a tellus ultrices, volutpat quam eu, gravida quam. Proin vestibulum mattis ipsum, ac varius sem lobortis vitae. Nulla facilisi. Aliquam erat volutpat. Proin vehicula sapien non nunc feugiat tincidunt. Nullam quis fermentum neque, in molestie justo. Donec vel pulvinar nulla, et congue augue.

                p Duis vel lacinia lorem. Sed neque tortor, commodo id viverra vel, efficitur eu mi. Etiam tortor nulla.

                p Suspendisse pharetra id urna ut placerat. Duis in pretium tortor. In cursus commodo dignissim. Nam efficitur, nisl nec auctor pharetra, tortor mauris ultricies risus, sed maximus ipsum purus nec justo. Curabitur gravida eleifend tortor, eget suscipit quam consequat et. Praesent scelerisque iaculis pharetra. Nam laoreet accumsan porta.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse pharetra id urna ut placerat. Duis in pretium tortor. In cursus commodo dignissim.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse pharetra id urna ut placerat. Duis in pretium tortor. In cursus commodo dignissim.


                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Suspendisse pharetra id urna ut placerat. Duis in pretium tortor. In cursus commodo dignissim.   